@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700;800&display=swap");

@import "elevation";
@import "variables";
@import "~bootstrap/scss/bootstrap";

h1 {
  font-weight: 800;
  font-size: 5rem;
}

h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 5px;
  color: #220b57;
}

h3 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.65rem;
  letter-spacing: 5px;
  color: #F1A617;
}

a.article-link {
  color: #220b57;
  font-weight: 800;
  text-decoration: none;
  &:hover {
    opacity: 0.75;
  }
}

.img-radius {
  border-radius: 30px;
}

.navbar {
  position: relative;
  z-index: 5;
  font-size: 16px;
  color: #ffffff;
  .navbar-nav .nav-link {
    color: #ffffff;
  }
  .btn {
    font-size: 14px;
    margin-right: 1rem;
    margin-left: 1rem;
    min-width: 75px;
  }
  .dropdown-item {
    font-size: 16px;
  }
}

.btn {
  border-radius: 30px;
  padding: 0.5rem 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn.btn-secondary {
  color: #ffffff;
}

.nav-logo {
  max-width: 350px;
}

.nav-social {
  display: block;
  width: 45px;
  padding: 10px 10px;
  color: #ffffff;

  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}

.gss-homepage-bg {
  position: relative;
  background: #220b57;
  background: url("/gss-jumbo.jpg") center center no-repeat;
  background-size: cover;
  margin: 15px;
  border-radius: 50px;
  overflow: hidden;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #220b57;
    opacity: 0.8;
    content: "";
    z-index: 2;
  }
}

.gss-page-nav {
  color: #ffffff;
  text-align: center;
  background: #220b57;
  border-radius: 50px;
  overflow: hidden;
  margin: 15px;

  h1 {
    padding: 15px;
  }
}

.gss-page-container {
  padding: 3rem 0;
}

.gss-page-head {
  padding-top: 60px;
  padding-bottom: 60px;
}

.gss-jumbo {
  position: relative;
  //background: url("/gss-jumbo.jpg") center center no-repeat;
  background-size: cover;
  padding: 160px 0;

  .row {
    height: 100%;
    position: relative;
    z-index: 3;
  }
}

#getstarted {
  h2 {
    font-size: 3rem;
    font-weight: 700;
  }
}

.footer {
  background: #140634;
  padding: 3rem 0;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-type: none;
    padding: 0;
    margin: 10px 5px;
  }
  a {
    color: #dddddd;
    text-decoration: none;

    &:hover {
      opacity: 0.75;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  h1 {
    font-size: 2.5rem;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  h1 {
    font-size: 3rem;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
