@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;700;800&display=swap");

@import "elevation";
@import "variables";
@import "~bootstrap/scss/bootstrap";

h1 {
  font-weight: 800;
  font-size: 3.25rem;
}

h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #220b57;
}

h3 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 2px;
  color: #f1a617;
}

a.article-link {
  color: #220b57;
  font-weight: 800;
  text-decoration: none;
  &:hover {
    opacity: 0.75;
  }
}

.img-radius {
  border-radius: 30px;
}

.navbar {
  position: relative;
  z-index: 9;
  font-size: 16px;
  color: #ffffff;
  .navbar-nav .nav-link {
    color: #ffffff;
  }
  .btn {
    font-size: 14px;
    margin-right: 1rem;
    margin-left: 1rem;
    min-width: 75px;
  }
  .dropdown-item {
    font-size: 16px;
  }
}

.btn {
  border-radius: 30px;
  padding: 0.5rem 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn.btn-secondary {
  color: #ffffff;
}

.btn.btn-block {
  width: 100%;
  display: block;
}

.nav-logo {
  max-width: 350px;
  width: 100%;
  padding-right: 30px;
}

.nav-social {
  display: block;
  width: 45px;
  padding: 10px 10px;
  color: #ffffff;

  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}

.gss-homepage-bg {
  position: relative;
  background: #220b57;
  background: url("/gss-jumbo.jpg") center center no-repeat;
  background-size: cover;
  overflow: hidden;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #220b57;
    background: linear-gradient(
      90deg,
      rgba(34, 11, 87, 1) 0%,
      rgba(34, 11, 87, 1) 35%,
      rgba(241, 166, 23, 1) 100%
    );
    opacity: 0.7;
    content: "";
    z-index: 2;
  }
}

.gss-gradient {
  background: linear-gradient(
    90deg,
    rgba(34, 11, 87, 1) 0%,
    rgba(34, 11, 87, 1) 35%,
    rgba(241, 166, 23, 1) 100%
  );
}

.gss-link-container {
  //background: #e8e6ee;
  //height: 100%;
}

.gss-guide-link {
  margin-top: 0.75rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  a {
    font-size: 16px;
    font-weight: 500;
    color: #220b57;
    text-decoration: none;
    &:hover {
      color: #f1a617;
    }
  }
  small {
    font-size: 0.7rem;
    padding-bottom: 3px;
  }
}

.gss-link-img {
  width: 90px;
  height: 90px;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin-right: 1rem;
}

.gss-page-nav {
  position: relative;
  color: #ffffff;
  text-align: center;
  background: #220b57;
  background-size: cover;
  overflow: hidden;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #220b57;
    background: linear-gradient(
      90deg,
      rgba(34, 11, 87, 1) 0%,
      rgba(34, 11, 87, 1) 35%,
      rgba(241, 166, 23, 1) 100%
    );
    opacity: 0.5;
    content: "";
    z-index: 2;
  }

  &.half:after {
    opacity: 0.6;
  }

  .container {
    position: relative;
    z-index: 5;
  }

  h1 {
    padding: 15px;
  }
}

.gss-page-container {
  padding: 3rem 0;
}

.gss-table-container {
  padding: 15px;
  max-width: 1640px;
  margin: 0 auto;
}

a.gss-homepage-card {
  color: #ffffff;
  margin-top: 45px;
  background: #220b57;
  background-size: cover;
  padding: 90px 30px;
  border-radius: 30px;
  text-align: center;
  position: relative;
  display: block;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 1s;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  &:hover:after {
    opacity: 0.6;
    transition: all 0.5s;
  }

  span {
    font-size: 1.5rem;
    position: relative;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    z-index: 3;
  }

  &:after {
    position: absolute;
    transition: all 0.5s;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #212121;
    background: linear-gradient(
      180deg,
      rgba(34, 11, 87, 1) 0%,
      rgba(34, 11, 87, 1) 35%,
      rgba(20, 7, 52, 1) 100%
    );
    opacity: 0.4;
    content: "";
    z-index: 2;
  }

  &.capture-cards {
    background: url("/video-game-capture-card.jpg") center center / cover
      no-repeat;
  }

  &.microphones {
    background: url("/streaming-microphone.jpg") center center / cover no-repeat;
  }

  &.video {
    background: url("/webcams.jpg") center center / cover no-repeat;
  }
}

.gss-page-head {
  padding-top: 60px;
  padding-bottom: 60px;
}

.gss-section {
  border-radius: 30px;
  height: 100%;

  .btn-sm,
  .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 15px;
  }
}

.gss-section-inner {
  border-radius: 30px;
  background: #e8e6ee;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 2rem 2rem 0;
  height: 100%;
}

.gss-jumbo {
  position: relative;
  //background: url("/gss-jumbo.jpg") center center no-repeat;
  background-size: cover;
  padding: 90px 0 150px;

  h1 {
    font-size: 3rem;
  }

  .row {
    height: 100%;
    position: relative;
    z-index: 3;
  }
}

#getstarted {
  .card-bg {
    background: url("/gss-stock-5.jpg") center center no-repeat;
    background-size: cover;
  }
}

.card-bg {
  border-radius: 15px;
  margin-bottom: 15px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;

  .card-body {
    position: relative;
    z-index: 3;
  }

  h3 {
    color: #ffffff;
    font-size: 2rem;
    text-transform: initial;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #212121;
    opacity: 0.8;
    content: "";
    z-index: 2;
  }
}

.streamlabs-logo {
  max-width: 150px !important;
  height: auto;
  margin-bottom: 1rem;
}

.footer {
  background: #140634;
  padding: 3rem 0;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-type: none;
    padding: 0;
    margin: 10px 5px;
  }
  a {
    color: #dddddd;
    text-decoration: none;

    &:hover {
      opacity: 0.75;
    }
  }
}

.blog-layout {
  h2 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  h1 {
    font-size: 2.5rem;
  }

  .nav-logo {
    max-width: 200px;
    padding-left: 30px;
  }

  .gss-jumbo {
    padding: 40px 15px;
  }

  .gss-homepage-bg,
  .gss-page-nav {
    margin: 0 0 30px 0;
    border-radius: 0;
  }

  .gss-page-container {
    margin: 15px;
  }

  .gss-section {
    padding: 2rem 1rem;
  }
}

a.blog-title {
  font-size: 16px;
  font-weight: 500;
  color: #220b57;
  text-decoration: none;
  &:hover {
    text-decoration: underline;;
  }
}

#blog {
  a.blog-title {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
    color: #220b57;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
  .lead {
    font-size: 1rem;
  }
}

.section-container {
  padding: 4rem 0;

  img {
    width: 100%;
    max-width: 400px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.gs-link-container {
  max-width: 680px;
  margin: 30px auto;

  .btn {
    font-size: 1rem;
  }
}

.link-image {
  display: block;
  background: url("/gss-logo-square.png") center center;
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 15px auto;
}

.usa-embed-container {
  position: relative;
  padding-bottom: 56.25%; /* set the aspect ratio here as (height / width) * 100% */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 60px;
  margin-top: 60px;
}

.usa-embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  h1 {
    font-size: 3rem;
  }

  .gss-section,
  .gss-section-inner {
    height: auto;
  }

  .gss-section-inner {
    padding-bottom: 2rem;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
